*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
background-color: rgb(238, 238, 238);
    
} 


header{
    height: 70px;
    background-color: white;

}

main{

    background-color: white;
    height: 2000px;
    width: 70%;
    margin:50px auto;
    padding-left: 50px;
    border-radius: 10px;
}

h1{
    display: inline-block;
}

ul {
    list-style-type: none;
  }

li{
    padding:10px;
}

#logo{
    margin:10px 0px 10px 20px;
    vertical-align: middle;
}

#primo-bottone{
    background-color: rgb(23, 135, 187);
    border-radius: 5px;
    color: white;
    padding: 5px;

}

#secondo-bottone {
    padding:5px;
    border: solid lightgrey .5px;
    border-radius: 5px;
    color: rgb(207, 204, 204);
}

.bottoni{
    padding-top: 20px;
}

#liste{
    padding-top: 50px;
}

#today{

    padding-top:25px;
}

#upcoming{

    padding-top:25px;
}

.cose-fatte{
    color:green;
    border-radius: 50%;
    border: solid green .5px;
    padding: 1.5px;
}

.cose-non-fatte{
    color: red;
    border-radius: 50%;
    border: solid red .5px;
    padding:1.5px ;
}

.bottone{

    border-radius: 25px;
    color:white;
    padding: 3px;
}

.bottone-editorial{
    background-color:rgb(23, 135, 187) ;
}

.bottone-Q1goals{
    background-color: indigo;
}

.bottone-recruiting{
    background-color: rgb(30, 141, 30);
}

.bottone-mobile{
    background-color: orange;
}

.bottone-website{
    background-color: palevioletred;
}

.bottone-sales{
    background-color: rgb(202, 218, 112);
}